@import url("https://fonts.googleapis.com/css2?family=Elsie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
.a {
    padding-top: 18%;
    padding-right: 5%;
    margin-bottom: 3%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
}

.a-card.bg {
    position: absolute;
    top: 10px;
    left: 60px;
    background-color: #4464574b;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.7);
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-title {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: "Combo";
}

.a-sub {
    margin: 20px 0px;
    font-family: "Combo";
}

.a-desc {
    font-weight: 300;
    font-family: "Combo";
}

.a-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts {
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-family: "Combo";
}

.a-award-desc {
    font-family: "Combo";
}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left {
        width: 100%;
    }
    .a-card {
        height: 30vh;
    }
    .a-card.bg,
    .a-award {
        display: none;
    }
    .a-right {
        padding: 20px;
    }
}