@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
.py {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.py-texts {
    width: 65%;
}

.py-title {
    margin-top: 20rem;
    font-size: 50px;
    font-weight: 600;
}

.py-desc {
    margin: 20px 0px;
    font-family: "Combo";
}

.py-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(90deg, #446457, #4464577c 60%);
    border-radius: 10px;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 480px) {
    .py {
        padding: 10px;
    }
    .py-texts {
        width: 100%;
    }
    .py-desc {
        display: none;
    }
}